diamond:
  prefix: servers
  hostname_method: smart
  ppa: nikicat/diamond
  latest: False
  version: 3.4.302~precise
  graphite:
    hosts:
      - graphite01.example.com
      - graphite02.example.com
  collectors:
    CPU:
      normalize: true
      percore: false
    Network:
    UDP:
    TCP:
    Interrupts:
