diamond:
  prefix: servers
  hostname_method: smart
  latest: False
  version: 3.4.302~precise
  graphite:
    plaintext:
      hosts:
        - graphite01.example.com
        - graphite02.example.com
      port: 2024
    pickle:
      hosts:
        - graphite03.example.com
        - graphite04.example.com
      port: 2025
  collectors:
    CPU:
      normalize: true
      percore: false
    Network:
    UDP:
    TCP:
    Interrupts:
