diamond:
  diamond-ppa: nikicat/diamond
  graphite:
    hosts:
      - graphite01.example.com
      - graphite02.example.com
  collectors:
    CPU:
      normalize: true
      percore: false
    Network:
    UDP:
    TCP:
    Interrupts:
